<div class="connect">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="title">
        Connect
      </h1>
    </div>
  </div>
  <form>
    <div class="row">
      <div class="col-sm-12">
        <h3>Network settings</h3>
      </div>
    </div>
    <div class="form-group">
      <label for="connect:name" class="control-label">Name</label>
      <input class="form-control" id="connect:name" name="name" placeholder="Network name" [(ngModel)]="connectModel.name" />
    </div>
    <div class="form-group">
      <label for="connect:address" class="control-label">Server address</label>
      <input class="form-control" id="connect:address" name="address" placeholder="Server address (with port)" [(ngModel)]="connectModel.address"
      />
    </div>
    <div class="form-group">
      <label for="connect:password" class="control-label">Password</label>
      <input class="form-control" id="connect:password" name="password" type="password" placeholder="Password" [(ngModel)]="connectModel.password"
      />
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="connect:enableSsl" name="enableSsl" [(ngModel)]="connectModel.enableSsl" />Enable TLS/SSL
      </label>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h3>User preferences</h3>
      </div>
    </div>
    <div class="form-group">
      <label for="connect:nick" class="control-label">Nick</label>
      <input class="form-control" id="connect:nick" name="nick" placeholder="Nick" [(ngModel)]="connectModel.nick" />
    </div>
    <div class="form-group">
      <label for="connect:realName" class="control-label">Real name</label>
      <input class="form-control" id="connect:realName" name="realName" placeholder="Real name" [(ngModel)]="connectModel.realName"
      />
    </div>
    <div class="form-group">
      <label for="connect:channels" class="control-label">Channels</label>
      <input class="form-control" id="connect:channels" name="channels" placeholder="Channels to join" [(ngModel)]="connectModel.channels"
      />
    </div>
    <button type="submit" class="btn btn-primary" (click)="connect($event)">Connect</button>
    <button type="reset" class="btn btn-default">Reset</button>
  </form>
  <hr />
</div>
